.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 5em;
  padding: .5em;
  background: #ffffff;
  color: #453D3F;
  font-family: Oxygen,Helvetica,Arial,sans-serif;
  font-weight: 700;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear; }
  .chartist-tooltip:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border: 10px solid transparent;
    border-top-color: #ffffff; }
  .chartist-tooltip.tooltip-show {
    opacity: 1; }

.ct-area, .ct-line {
  pointer-events: none; }


     /* CSS for chart styling */
     .ct-series-a .ct-line {
      stroke: #FF0000; /* Example: Change line color to red */
      stroke-width: 2px; /* Example: Change line width */
  }

  .ct-point {
      stroke: #FF0000; /* Example: Change point color to red */
      stroke-width: 8px; /* Example: Change point size */
  }

  .chartist-tooltip {
      background-color: black; /* Example: Change tooltip background */
      color: white; /* Example: Change tooltip text color */
      font-size: 14px; /* Example: Change tooltip font size */
      padding: 5px;
      border-radius: 3px;
  }